@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Quicksand", sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.home-page {
  width: 100% !important;
  height: 100% !important;
  background-color: rgb(255, 255, 255) !important;
}

.home-title {
  text-align: center !important;
  padding: 1.5rem !important;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(0, 0, 0) !important;
}

@media only screen and (max-width: 350px) {
  .cards {
    width: 100% !important;
    margin-top: 3.5rem !important;
    margin-bottom: 3.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    display: block !important;
  }

  .card {
    width: 75% !important;
    height: 25rem !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    padding-bottom: 0.6rem !important;
    margin: 0 auto 2rem auto !important;
    box-shadow: 0.1rem 0.1rem 0.3rem black !important;
  }

  .player-img {
    width: 100% !important;
    height: 65% !important;
    object-fit: cover !important;
    object-position: top !important;
  }

  .player-name {
    font-size: 0.9rem;
    margin-top: 0.6rem !important;
    margin-left: 0.8rem !important;
  }

  .player-position {
    font-size: 0.9rem;
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-jersy {
    font-size: 0.9rem;
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-country {
    font-size: 0.9rem;
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .action-div {
    height: 1.5rem !important;
    margin-top: 0.6rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.5rem !important;
  }

  .action-div .edit-button {
    width: 5rem !important;
    height: 1.5rem !important;
    font-weight: 500 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  .action-div .delete-button {
    width: 5rem !important;
    height: 1.5rem !important;
    font-weight: 600 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  #add-card {
    text-decoration: none !important;
    background-color: rgb(255, 255, 255) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #add-card i {
    font-size: 15rem !important;
    color: rgb(0, 0, 0) !important;
  }
}

@media only screen and (min-width: 350px) {
  .cards {
    width: 100% !important;
    margin-top: 3.5rem !important;
    margin-bottom: 3.5rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    display: block !important;
  }

  .card {
    width: 80% !important;
    height: 25rem !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    padding-bottom: 0.6rem !important;
    margin: 0 auto 2rem auto !important;
    box-shadow: 0.1rem 0.1rem 0.3rem black !important;
  }

  .player-img {
    width: 100% !important;
    height: 65% !important;
    object-fit: cover !important;
    object-position: top !important;
  }

  .player-name {
    margin-top: 0.6rem !important;
    margin-left: 0.8rem !important;
  }

  .player-position {
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-jersy {
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-country {
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .action-div {
    height: 1.5rem !important;
    margin-top: 0.5rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.8rem !important;
  }

  .action-div .edit-button {
    width: 6rem !important;
    height: 1.5rem !important;
    font-weight: 500 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  .action-div .delete-button {
    width: 6rem !important;
    height: 1.5rem !important;
    font-weight: 600 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  #add-card {
    text-decoration: none !important;
    background-color: rgb(255, 255, 255) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #add-card i {
    font-size: 15rem !important;
    color: rgb(0, 0, 0) !important;
  }
}

@media only screen and (min-width: 450px) {
  .cards {
    width: 100% !important;
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    display: block !important;
  }

  .card {
    width: 75% !important;
    height: 30rem !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    padding-bottom: 0.6rem !important;
    margin: 0 auto 2rem auto !important;
    box-shadow: 0.1rem 0.1rem 0.3rem black !important;
  }

  .player-img {
    width: 100% !important;
    height: 66% !important;
    object-fit: cover !important;
    object-position: top !important;
  }

  .player-name {
    margin-top: 0.6rem !important;
    margin-left: 0.8rem !important;
  }

  .player-position {
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-jersy {
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-country {
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .action-div {
    height: 2.5rem !important;
    margin-top: 0.5rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.8rem !important;
  }

  .action-div .edit-button {
    width: 8rem !important;
    height: 2rem !important;
    font-weight: 500 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  .action-div .delete-button {
    width: 8rem !important;
    height: 2rem !important;
    font-weight: 600 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  #add-card {
    text-decoration: none !important;
    background-color: rgb(255, 255, 255) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #add-card i {
    font-size: 15rem !important;
    color: rgb(0, 0, 0) !important;
  }
}

@media only screen and (min-width: 550px) {
  .cards {
    width: 100% !important;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    display: flex !important;
    justify-content: start !important;
    flex-wrap: wrap !important;
    gap: 1rem !important;
  }

  .card {
    width: 48.2% !important;
    height: 26rem !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    padding-bottom: 0.6rem !important;
    margin: 0 0 1rem 0 !important;
    box-shadow: 0.1rem 0.1rem 0.3rem black !important;
  }

  .player-img {
    width: 100% !important;
    height: 65% !important;
    object-fit: cover !important;
    object-position: top !important;
  }

  .player-name {
    font-size: 0.9rem !important;
    margin-top: 0.6rem !important;
    margin-left: 0.8rem !important;
  }

  .player-position {
    font-size: 0.9rem !important;
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-jersy {
    font-size: 0.9rem !important;
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-country {
    font-size: 0.9rem !important;
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .action-div {
    height: 2.5rem !important;
    margin-top: 0.5rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.8rem !important;
  }

  .action-div .edit-button {
    width: 5rem !important;
    height: 1.5rem !important;
    font-weight: 500 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  .action-div .delete-button {
    width: 5rem !important;
    height: 1.5rem !important;
    font-weight: 600 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  #add-card {
    text-decoration: none !important;
    background-color: rgb(255, 255, 255) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #add-card i {
    font-size: 15rem !important;
    color: rgb(0, 0, 0) !important;
  }
}

@media only screen and (min-width: 650px) {
  .cards {
    width: 100% !important;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 0.5rem !important;
  }

  .card {
    width: 49.2% !important;
    height: 28rem !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    padding-bottom: 0.6rem !important;
    margin: 0 0 1rem 0 !important;
    box-shadow: 0.1rem 0.1rem 0.3rem black !important;
  }

  .player-img {
    width: 100% !important;
    height: 65% !important;
    object-fit: cover !important;
    object-position: top !important;
  }

  .player-name {
    font-size: 1rem !important;
    margin-top: 0.6rem !important;
    margin-left: 0.8rem !important;
  }

  .player-position {
    font-size: 1rem !important;
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-jersy {
    font-size: 1rem !important;
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-country {
    font-size: 1rem !important;
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .action-div {
    height: 2.5rem !important;
    margin-top: 0.5rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.8rem !important;
  }

  .action-div .edit-button {
    width: 7rem !important;
    height: 1.8rem !important;
    font-weight: 500 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  .action-div .delete-button {
    width: 7rem !important;
    height: 1.8rem !important;
    font-weight: 600 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  #add-card {
    text-decoration: none !important;
    background-color: rgb(255, 255, 255) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #add-card i {
    font-size: 15rem !important;
    color: rgb(0, 0, 0) !important;
  }
}

@media only screen and (min-width: 750px) {
  .card {
    width: 49.3% !important;
    height: 32rem !important;
  }

  .player-img {
    width: 100% !important;
    height: 70% !important;
  }

  .action-div .edit-button {
    width: 8.5rem !important;
    height: 2rem !important;
  }

  .action-div .delete-button {
    width: 8.5rem !important;
    height: 2rem !important;
  }
}

@media only screen and (min-width: 850px) {
  .card {
    width: 32.6% !important;
    height: 26rem !important;
  }

  .player-img {
    width: 100% !important;
    height: 65% !important;
  }

  .action-div .edit-button {
    width: 6rem !important;
    height: 1.5rem !important;
  }

  .action-div .delete-button {
    width: 6rem !important;
    height: 1.5rem !important;
  }
}

@media only screen and (min-width: 950px) {
  .card {
    width: 32.6% !important;
    height: 28rem !important;
  }

  .player-img {
    width: 100% !important;
    height: 65% !important;
  }

  .action-div .edit-button {
    width: 7rem !important;
    height: 1.6rem !important;
  }

  .action-div .delete-button {
    width: 7rem !important;
    height: 1.6rem !important;
  }
}

@media only screen and (min-width: 1100px) {
  .card {
    width: 32.8% !important;
    height: 32rem !important;
  }

  .player-img {
    width: 100% !important;
    height: 70% !important;
  }

  .action-div .edit-button {
    width: 8rem !important;
    height: 2rem !important;
  }

  .action-div .delete-button {
    width: 8rem !important;
    height: 2rem !important;
  }
}

@media only screen and (min-width: 1250px) {
  .cards {
    width: 100% !important;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    display: flex !important;
    justify-content: start !important;
    flex-wrap: wrap !important;
    gap: 0.8rem !important;
  }

  .card {
    width: 24.1% !important;
    height: 35rem !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    padding-bottom: 0.6rem !important;
    box-shadow: 0.1rem 0.1rem 0.3rem black !important;
  }

  .player-img {
    width: 100% !important;
    height: 70% !important;
    object-fit: cover !important;
    object-position: top !important;
  }

  .player-name {
    margin-top: 0.6rem !important;
    margin-left: 0.8rem !important;
  }

  .player-position {
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-jersy {
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .player-country {
    margin-top: 0.2rem !important;
    margin-left: 0.8rem !important;
  }

  .action-div {
    height: 2rem !important;
    margin-top: 1.1rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.8rem !important;
  }

  .action-div .edit-button {
    width: 7.5rem !important;
    height: 2rem !important;
    font-weight: 500 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  .action-div .delete-button {
    width: 7.5rem !important;
    height: 2rem !important;
    font-weight: 600 !important;
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border: 0.1rem solid rgb(0, 0, 0) !important;
    border-radius: 0.2rem !important;
    cursor: pointer !important;
  }

  #add-card {
    text-decoration: none !important;
    background-color: rgb(255, 255, 255) !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }

  #add-card i {
    font-size: 12rem !important;
    text-align: center !important;
    color: rgb(0, 0, 0) !important;
  }
}

@media only screen and (min-width: 1550px) {
  .card {
    width: 19.3% !important;
    height: 35rem !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    padding-bottom: 0.6rem !important;
    box-shadow: 0.1rem 0.1rem 0.3rem black !important;
  }
}

@media only screen and (min-width: 1800px) {
  .card {
    width: 19.4% !important;
    height: 35rem !important;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 255, 255) !important;
    padding-bottom: 0.6rem !important;
    box-shadow: 0.1rem 0.1rem 0.3rem black !important;
  }
}
