.form-div {
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgb(86, 85, 81) !important;
  display: flex !important;
}

@media only screen and (max-width: 400px) {
  .add-form {
    width: 85% !important;
    margin: 5rem auto 0 auto !important;
  }

  .add-form .back {
    font-size: 0.9rem !important;
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
  }

  .add-form h1 {
    font-size: 1.5rem !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: rgb(255, 255, 255);
    margin-top: 2rem !important;
    margin-bottom: 0.6rem !important;
  }

  .input-div {
    display: flex !important;
    flex-direction: column !important;
  }

  .input-div label {
    font-size: 0.9rem !important;
    color: #ffffff;
  }

  .input-div input {
    font-size: 0.9rem !important;
    text-transform: capitalize !important;
    padding: 0.6rem !important;
    border: 1px solid rgb(86, 85, 81) !important;
    border-radius: 0.4rem !important;
    outline: none !important;
    margin-bottom: 0.3rem !important;
  }

  .button-div {
    margin-top: 1.5rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .button-div button {
    font-size: 1rem !important;
    font-weight: 600 !important;
    width: 75% !important;
    color: rgb(255, 255, 255) !important;
    background-color: transparent !important;
    padding: 0.6rem !important;
    border: 1.5px solid white !important;
    border-radius: 0.3rem !important;
    cursor: pointer !important;
  }
}

@media only screen and (min-width: 400px) {
  .add-form {
    width: auto !important;
    height: 600px !important;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.3rem;
    padding: 2rem !important;
    margin: 5rem auto 0 auto !important;
  }

  .add-form .back {
    font-size: 1rem !important;
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
  }

  .add-form h1 {
    font-size: 1.5rem !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: rgb(255, 255, 255);
    margin-top: 1.2rem !important;
    margin-bottom: 0.6rem !important;
  }

  .input-div {
    display: flex !important;
    flex-direction: column !important;
  }

  .input-div label {
    font-size: 1rem !important;
    color: #ffffff;
  }

  .input-div input {
    width: 280px;
    height: 45px;
    font-size: 1rem !important;
    text-transform: capitalize !important;
    padding: 0.8rem !important;
    border: 1px solid rgb(86, 85, 81) !important;
    border-radius: 0.3rem !important;
    outline: none !important;
    margin-bottom: 0.5rem !important;
  }

  .button-div {
    margin-top: 1.5rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .button-div button {
    font-size: 1rem !important;
    font-weight: 600 !important;
    width: 220px !important;
    color: rgb(255, 255, 255) !important;
    background-color: transparent !important;
    padding: 0.6rem !important;
    border: 1.5px solid white !important;
    border-radius: 0.3rem !important;
    cursor: pointer !important;
  }
}

@media only screen and (min-width: 700px) {
  .add-form {
    width: auto !important;
    height: 650px !important;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.3rem;
    padding: 3rem !important;
    margin: 5rem auto 0 auto !important;
  }

  .add-form .back {
    font-size: 1rem !important;
    text-decoration: none !important;
    color: white !important;
    cursor: pointer;
  }

  .add-form h1 {
    font-size: 1.8rem !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: rgb(255, 255, 255);
    margin-top: 2rem !important;
    margin-bottom: 0.8rem !important;
  }

  .input-div {
    display: flex !important;
    flex-direction: column !important;
  }

  .input-div label {
    font-size: 1rem !important;
    color: #ffffff;
  }

  .input-div input {
    width: 350px;
    height: 48px;
    font-size: 1rem !important;
    text-transform: capitalize !important;
    padding: 0.8rem !important;
    border: 1px solid rgb(86, 85, 81) !important;
    border-radius: 0.4rem !important;
    outline: none !important;
    margin-bottom: 0.5rem !important;
  }

  .button-div {
    margin-top: 1.5rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .button-div button {
    font-size: 1rem !important;
    font-weight: 600 !important;
    width: 75% !important;
    color: rgb(255, 255, 255) !important;
    background-color: transparent !important;
    padding: 0.6rem !important;
    border: 1.5px solid white !important;
    border-radius: 0.3rem !important;
    cursor: pointer !important;
  }
}
